

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

 
button {
    font-weight: bold;
    color: #016f32;
    height: 30px;
    background: goldenrod;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
    margin-bottom:4px;
}

button:hover {
    background: rgb(255, 187, 14);

}
button:active {
    background: goldenrod;
    border: rgb(152, 115, 24) 2px solid;


}

/* #SelectedCards {
	display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    align-items: left;
}*/
  .cards-container {
    margin-left: 40px;
 /* Adjust width as needed */
  }

  .cards-container img {
    width: 80px;
    margin-left: -40px;
  }

.hide {
    display: none;      
}